/build

/external/premake/
/external/vcpkg/
/external/vcpkg_installed/

/external/include/*
/external/lib/debug/*
/external/lib/release/*
/external/bin/debug/*
/external/bin/release/*

!/external/include/.gitkeep
!/external/lib/debug/.gitkeep
!/external/lib/release/.gitkeep
!/external/bin/debug/.gitkeep
!/external/bin/release/.gitkeep

*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe

.vs
.vscode
.idea
.settings
.cproject
.metadata
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.dsp
*.dsw
*.cbp
*.workspace
Makefile